.sidebar{
  background-color: white;
  
  padding-top: 5px;
  /* border-right-width: 1px;
  border-right-color: rgb(248, 243, 243);
  border-right-style: solid;*/
  position: fixed;
  top: 55px;
  left:0;
  bottom: 0;
  width: 73px;
  z-index: 200;
  
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.sidebar-link img {
  height:24px;
  margin-bottom: 2px;
}
.sidebar-link:hover,
.thief:hover{
  background-color: rgb(230, 230, 230);
  cursor:pointer;
  
}
.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;
}
.thief{
  background-color: white;
  border: none;
  height: 74px;
  width: 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home{
  margin:0;
  white-space: nowrap;
}
